<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Testmail" connectionString="Server=DESKTOP-RSMRVQT\SQLEXPRESS; database=Testmail; Trusted_connection=true; connection timeout=20; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISqlDBService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53653/SqlDBService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISqlDBService" contract="WS.ISqlDBService"
                name="BasicHttpBinding_ISqlDBService" />
        </client>
    </system.serviceModel>
</configuration>